<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Details</title>
    <div>
        <p>Case key:{{courtcase.case_key}} &nbsp;&nbsp; Case name: {{courtcase.case_name}}</p><br/>
        <p>Case Number:{{courtcase.case_number}}&nbsp;&nbsp;Filing date:{{courtcase.filing_date}}</p><br/>
        <p>Case type:{{case_type.name}}&nbsp;&nbsp;Case Type Group:{{case_type_group.name}}</p><br/>
        <p>Case type Category:{{case_type_category.name}}&nbsp;&nbsp;Case Type Group:{{case_type_group.name}}</p><br/>
        <p>Court house:{{courthouse.name}}&nbsp;&nbsp;Jurisdiction:{{jurisdiction.name}}</p><br/>
    </div>
</head>
<body>

</body>
</html>